.G1 {
  color: #000000;
}
.G2 {
  color: #131415;
}
.G3 {
  color: #606266;
}
.G4 {
  color: #91959A;
}
.G5 {
  color: #B0B4BB;
}
.G6 {
  color: #C7CBD0;
}
.G7 {
  color: #D7DADD;
}
.G8 {
  color: #E7E9ED;
}
.G9 {
  color: #F6F7F8;
}
.G10 {
  color: #FFFFFF;
}